.Mhead-div{
    background-color: navy;
    height: 180px;
    width: 1500px;
    display:flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}

.hero-logo{
    height: 140px;
    margin-left: -1000px; 
}

.header-div{
    background-color: navy;
}

.header-text{
    font-family: 'Anton', sans-serif;
    margin-top: -40px;
    color: white;
}