.formDiv{
    width: 70%;
    align-self: center;
    margin: 40px auto;
}

.searchButton{
    margin: 20px;
    height: 45px;   
}

.form-div-mHeader{
   margin-right:60px;

}

.form-mHeader{
    display:flex;
    flex-direction:row-reverse;
}

.search-button-mHeader{
  height:40px;
  margin-right: 7px;  
}

.button-text{
    font-size:12px;
    margin-top:-5px;
}
